.container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.profileInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profileImage {
  width: 65px;
  height: 65px;
  border: 2px solid #2d3748;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: large;
  font-weight: bold;
}

.userName {
  color: #A3A3A3;
}

.date {
  font-size: 0.9rem;
  color: #aaa;
}

.postText {
    margin-bottom: 1rem;
    font-size: medium;
    padding-right: 1rem;
}

.postImage {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    border-radius: 30px;
    object-fit: contain;
    margin-bottom: 1rem;
}

.postButton {
    background-color: #333;
    text-align: start;
    cursor: pointer;
    overflow: hidden;
}