
.sideBarList {
    flex-grow: 1;
    overflow-y: auto;
}

.link {
    height: 50px;
    display: inline-flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-block: 20px;
    padding-left: 15px;
    color: white
}

.link:hover {
    background-color: #333;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.icon {
    width: 28px; 
    height: 28px;
    color: transparent;
}

.title {
    font-weight: 400;
    font-size: x-large;
    margin-inline: 25px;
    margin-top: 3px;
}

.activeLink {
    height: 50px;
    display: inline-flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-block: 20px;
    padding-left: 15px;
    color: white;
}

.activeIcon {
    color: white;
}

.activeTitle {
    font-weight: 700;
}

.profileInfo {
    flex-direction: row;
    display: flex;
    align-content: center;
    color: white;
}

.profileImage {
    width: 65px; 
    height: 65px;
    border: #2d3748 solid 2px;
    border-radius: 50px;
    margin-block-start: 1rem;
    object-fit: cover; 
}

.userInfo {
    margin-block-start: 15px;
    padding: 10px;
}

.name {
    font-size: large;
    font-weight: 500;
}

.userName {
    color: #A3A3A3;
    margin-block-start: -0.25rem;
}

.postLink {
    height: 50px;
    display: inline-flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-block: 20px;
    padding-left: 15px;
    color: #121212;
    width: fit-content;
    background-color: white;
    border-radius: 50px;
    position: absolute;
}

.postLink:hover {
    border-radius: 50px;
    color: white;
    background-color: #333;
    transition: transform 0.3s ease;
    transform: scale(1.05);
}


.postText {
    font-weight: 600;
    font-size: x-large;
    margin-inline: 25px;
    margin-top: 3px;
    color: #121212;
}

.postLink:hover .postText {
    color: white;
    transition: color 0.3s ease;
}

.postIcon {
    width: 28px; 
    height: 28px;
    stroke: #121212;
    transition: color 0.3s ease;
}

.postLink:hover .postIcon {
    animation-name: spin;
    animation-duration: 200ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    stroke: currentColor;
}

.logOutLink {
    height: 50px;
    display: inline-flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
    color: red;
    width: fit-content;
    margin-bottom: 5rem;
}

.logOutLink:hover {
    background-color: #333;
    border-radius: 50px;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.logOutText {
    font-weight: 400;
    font-size: x-large;
    margin-inline: 25px;
    margin-top: 3px;
    color: red;
}

.logOutLink:hover .logOutText {
    color: white;
    transition: color 0.3s ease;
}

.logOutIcon {
    width: 28px; 
    height: 28px;
    stroke: red;
    transition: stroke 0.3s ease;
}

.logOutLink:hover .logOutIcon {
    animation-name: spin;
    animation-duration: 200ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    stroke: currentColor;
}
  
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-90deg);
    }
}

